@import "../../styles/Mixins.scss";

.container {
  display: flex;
  height: 6rem;
  width: 60%;
  background-color: #414141;
  color: white;
  padding-top: 0.1875rem; // 3px

  .total_rating {
    @include center_element;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  .the_rating {
    @include rating_value;
  }

  .rating_title {
    @include center_element;
    @include rating_title;
    flex: 1;
  }

  .rating {
    @include flex_CSS_for_rating;
  }

  .rating_points {
    flex: 3;
    @include center_element;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #646464;
    }
  }

  .star {
    @include center_element;
    cursor: pointer;
  }

  .stats {
    display: flex;
    flex-direction: column;

    .total_number_of_rate {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
  .your_rating {
    @include flex_CSS_for_rating;
  }
}
