.container {
  display: flex;
  height: 6em;
  width: 70%;
  border: 1px solid sienna;

  .rating_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 500;
    width: 100%;
    flex: 1;
  }

  .rating {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #414141;
    color: white;

    .rating_points {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      cursor: pointer;

      &:hover {
        background-color: #646464;
      }
      .stats {
        display: flex;
        flex-direction: column;

        .total_rating {
          font-size: 1.3em;
          font-weight: 500;
          letter-spacing: 0.1em;
        }

        .total_number_of_rate {
          font-size: 0.8em;
        }
      }
    }
  }

  .your_rating {
    flex: 1;
  }
}
