@import "../../styles/Mixins";
@import "../../styles/Variables";

.container {
  //border: 1px solid red;
}

.header {
  //border: 1px solid green;
  min-height: 30vh;
  padding-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
}

.image_container {
  position: $image_container_position;
  flex: 1;
}

.title {
  flex: 1;
  @include center_element;
}

.description {
  flex: 2;
  @include center_element;
}

.body {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  gap: 3rem;
  flex-wrap: wrap;

  .card_image_container {
    position: $image_container_position;
    width: 100%;
    height: 75%;
  }

  .product_card {
    cursor: pointer;
    min-width: 15rem;
    min-height: 15rem;
    border: 1px solid grey;
    border-radius: 0.5rem;

    .product_info {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
