MONGO_URI = 'mongodb+srv://mashuk:mashuk96@cluster0.a0s6xn1.mongodb.net/foodmortem?retryWrites=true&w=majority'
NEXT_PUBLIC_API_URL = 'http://localhost:3000/api'
SALT_ROUNDS = 10
JWT_SECRET = 'gUkXp2s5v8y/B?E(H+MbQeThVmYq3t6w'