NEXT_PUBLIC_SITE_NAME = 'FoodMortem'
MONGO_URI = 'mongodb+srv://mashuk:mashuk96@cluster0.a0s6xn1.mongodb.net/foodmortem?retryWrites=true&w=majority'
NEXT_PUBLIC_API_URL = 'http://localhost:3000/api'
SALT_ROUNDS = 10
NEXT_PUBLIC_JWT_SECRET = 'gUkXp2s5v8y/B?E(H+MbQeThVmYq3t6w'
JWT_EXPIRY = 2592000
NEXT_PUBLIC_COOKIE_NAME = 'FoodmortemUser'
NEXT_PUBLIC_USER = '_usr'
NEXT_PUBLIC_KACCHI = 'kacchi'
NEXT_PUBLIC_PIZZA = 'pizza'
NEXT_PUBLIC_BURGER = 'burger'