@import "../../styles/Mixins";

.card_wrapper {
  background-color: #4c5958;
  width: 16rem;
  min-height: 24rem;
  @include center_element;
  padding: 1.1rem;
  border-radius: 0.3rem;
}

.product_card {
  background-color: #4c5958;
  box-shadow: 0px 0px 30px -1px rgba(0 0 0 / 75%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;

  .card_image_container {
    flex: 6;
    position: $image_container_position;
    width: 100%;
    height: 100%;
    cursor: pointer;
    //margin-bottom: 1rem;
    background-color: white;
  }

  .product_description {
    flex: 2;
    display: flex;

    flex-direction: column;
    padding: 0.4rem;
    color: wheat;

    .product_rating {
      @include center_element;

      flex-wrap: wrap;

      .rating {
        margin-left: 0.2rem;
      }
    }

    .product_info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0.5rem 0;
      font-size: 0.88rem;

      .product_name {
        margin-bottom: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }

      .product_category {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
