@import "../../styles/Mixins";

.container {
  min-width: 25rem;
  @include reviews_page_container;
}

.container_for_reviews_page {
  width: 50rem;
  @include reviews_page_container;
}

.name {
  font-weight: 500;
}

.type {
  margin: 1rem;
  width: 25%;
  height: 5%;
  background-color: aquamarine;
  @include center_element;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.3rem;
}

.rating_value {
  letter-spacing: 0.1rem;
}

.date {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 2rem 0;
  font-weight: 500;
  font-size: 1.3rem;
}

.main_content {
  //font-size: 1rem;
  line-height: 1.6rem;
}
