@import "../../styles/Mixins";
@import "../../styles/Variables";

.container {
  margin: 5rem 0;
  width: 45%;
  background-color: #f0f2f5;
  cursor: pointer;
  height: 5rem;
  @include center_element;
  border-radius: 5rem;

  &:hover {
    background-color: #e4e6e8;
  }

  &:active {
    background-color: #dbdde0;
  }

  .text {
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    @include center_element;
    gap: 2px;

    &::after {
      content: "";
      width: 0.2rem;
      height: 1.5rem;
      background: rgb(255, 13, 0);
      display: inline-block;

      animation: cursor-blink 1.5s steps(2) infinite;
    }

    @keyframes cursor-blink {
      0% {
        opacity: 0;
      }
    }
  }
}
