@import "../../styles/Variables.scss";

.bucket_list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .bucket_list_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $bucket_list_button;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.07rem;    
    padding: $bucket_list_button_padding;
    width: 15.4rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.3rem;

    &:hover {
      background-color: $bucket_list_button_hover;
    }

    .plus {
      margin-right: 0.3rem;
      font-size: 1.25rem;
      padding: 0px;
    }

    .button_title {
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      &:after {
        content: "🛒";
        position: absolute;
        opacity: 0;
        top: -1px;
        right: -1.25rem;
        transition: 0.5s;
      }
    }

    &:hover .button_title {
      padding-right: 0.625rem;
      &:after {
        opacity: 1;
        right: -1.25rem;
      }
    }

    &:active {
      scale: 0.95;
    }
  }
}
