@import "../../styles/Variables.scss";

.review_analytics {
  grid-area: ra;
  display: flex;
  align-items: center;
  flex-direction: column;

  .review_header {
    margin-bottom: $review_header_margin_bottom;
  }

  .progress_bar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    /* Styling the border and box
        effect of the progress bar*/
    .progress_bar {
      width: 50%;
      height: 5px;
      margin-top: 10px;
      border: 1px solid #565656;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(245, 159, 0);
    }

    /* Styling the background color of each
        animation and border radius */
    .percentage {
      display: block;
      height: 100%;
      background-color: orange;
      border-radius: 5px;
      animation: progress 1500ms ease-in 1;
    }

    /* Assigning width of each languages*/
    .positive {
      width: 85%;
    }

    .moderate {
      width: 40%;
    }

    .negative {
      width: 30%;
    }

    /* Animating the progress bar by
        initially starting from 0*/
    @keyframes progress {
      from {
        width: 0;
      }
    }
  }
}
