@import "../../styles/Mixins";
@import "../../styles/Variables";

.container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .subtitle {
    @include center_element;
    color: bisque;
  }

  .button_container {
    margin-top: 2rem;
    @include center_element;
    column-gap: 3rem;
  }

  .signin_button {
    @include signin_button_style;
  }
}
