@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $secondary_color;
  border: 1px solid green;
}

.star_class {
  padding: 3px;
}

.rating_title {
  border: 1px solid white;
}

.rating_value {
  margin: 1rem 0;
  color: white;
  @include center_element;
  @include rating_value;
}

.rate_button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  width: 65%;
  border-radius: 3px;
  margin: 1rem 0;
}
