@import "../../styles/Mixins.scss";
@import "../../styles/Variables.scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $secondary_color;
}

.star_class {
  padding: 3px;
}

.rating_title {
  @include product_rating_title;
}

.rating_value {
  margin: 1rem 0;
  @include center_element;
  font-size: 2rem;
  color: azure;
}

.container_review_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $secondary_color;
  margin-bottom: 0.8rem;
}

.rating_value_review_form {
  //margin: 0.5rem 0;
  margin-bottom: 0.2rem;
  @include center_element;
  font-size: 1.4rem;
  color: azure;
}

// @keyframes glowing {
//   0% {
//     background-color: #cf8134a8;
//     box-shadow: 0 0 50px #cf8134a8;
//   }
//   50% {
//     background-color: #c06b46;
//     box-shadow: 0 0 10px #c06b46;
//   }
//   100% {
//     background-color: #cf8134a8;
//     box-shadow: 0 0 5px #cf8134a8;
//   }
// }

.rate_button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  width: 65%;
  border-radius: 0.2rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgb(73, 73, 73);
  color: rgb(255, 221, 0);

  &:hover {
    background-color: rgb(89, 89, 89);
  }
  &:active {
    background-color: rgb(110, 110, 110);
  }
  &:disabled {
    // animation: glowing 1300ms infinite;
    background-color: rgb(126, 126, 126);
    color: azure;
    cursor: not-allowed;
    transition: 0.5s;
  }
}
