@import "../../styles/Variables";
@import "../../styles/Mixins";

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: $header_margin_bottom;

  .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $top_section_padding;

    .product_name {
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }
  }

  .product_info {
    display: flex;
    justify-content: space-between;
    // padding-left: $product_info_padding_left;

    .product_description {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .product_category {
        padding: $product_category_padding;
        &:hover {
          @include link_style;
        }
      }
      .product_brand {
        &:hover {
          @include link_style;
        }
      }
    }
    .other_description {
      flex: 1;
      display: flex;
    }
  }
}

.content {
  margin: $product_page_content_margin;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "ic ic ic ic ic ic ra ra ra ra ra ra";
  min-height: $content_min_height;

  .image_container {
    position: relative;
    width: $image_container_width;
    grid-area: ic;
    // margin-left: $image_container_margin_left;
    box-shadow: $img_container_box_shadow;
    transition: 0.3s ease-in-out;
    border-radius: $img_container_border_radius;
    border: $img_container_border;
    &:hover {
      box-shadow: $img_container_box_shadow_hover;
    }
  }
}
