@import "../../styles/Variables";

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: $header_margin_bottom;

  .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $top_section_padding;

    .product_name {
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }

    .bucket_list {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .bucket_list_button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $bucket_list_button;
        border: none;
        color: #ffffff;
        text-align: center;
        font-size: 17px;
        padding: $bucket_list_button_padding;
        width: 250px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

        &:hover {
          background-color: $bucket_list_button_hover;
        }

        .plus {
          margin-right: 5px;
          font-size: 20px;
          padding: 0px;
        }

        .button_title {
          cursor: pointer;
          position: relative;
          transition: 0.3s;

          &:after {
            content: "🛒";
            position: absolute;
            opacity: 0;
            top: -1px;
            right: -20px;
            transition: 0.5s;
          }
        }

        &:hover .button_title {
          padding-right: 10px;
          &:after {
            opacity: 1;
            right: -20px;
          }
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  .product_info {
    display: flex;
    justify-content: space-between;
    padding-left: $product_info_padding_left;

    .product_description {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .product_category {
        padding: $product_category_padding;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .product_brand {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .other_description {
      flex: 1;
      display: flex;
    }
  }
}

.content {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "ic ic ic ic ic ic ra ra ra ra ra ra";
  min-height: $content_min_height;

  .image_container {
    position: relative;
    grid-area: ic;
    margin-left: $image_container_margin_left;
    box-shadow: $img_container_box_shadow;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    border: $img_container_border;
    &:hover {
      box-shadow: $img_container_box_shadow_hover;
    }
  }
}
