@import "../../styles/Variables";

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .product_description {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .bucket_list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bucket_list_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $bucket_list_button;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

    .plus {
      margin-right: 5px;
      font-size: 20px;
      padding: 0px;
      
    }

    .button_title {
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      &:after {
        content: "🛒";
        position: absolute;
        opacity: 0;
        top: -1px;
        right: -20px;
        transition: 0.5s;
      }
    }

    &:hover .button_title {
      padding-right: 10px;
      &:after {
        opacity: 1;
        right: -20px;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
