.carousel_container {
  height: 15rem;
}

.heading_title {
  margin: 5rem 0;
}

.carousel_list {
  height: 15rem;
  width: 10rem;
  background-color: rgb(173, 173, 173);
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
