.carousel_container {
  height: 25rem;
}

.heading_title {
  font-weight: 500;
  margin-bottom: 2rem;
}

.carousel_list {
  margin: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
