@import "../../styles/Mixins";
@import "../../styles/Variables";

.container {
  .form {
    .title {
      margin-bottom: 1.5rem;
      .title_input {
        width: 100%;
        padding: 0.6rem;
        border-radius: 0.3rem;
        border: none;
      }
    }

    .radio_button_container {
      margin-bottom: 1.5rem;
    }

    .review_title {
      margin-bottom: 1.5rem;
    }

    .review_type {
      margin-bottom: 1.5rem;
    }

    .review {
      margin-bottom: 1.5rem;

      .review_input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: none;
      }
    }
  }

  .submit_button {
    background-color: $submit_button_color;
    color: $secondary_color;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    //text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    transition: scale 0.1s ease;

    &:hover {
      background-color: $darken_primary_color;
    }

    &:active {
      background-color: $active_primary_color;
      scale: 0.98;
    }


  }
}
