@import "../../styles/Mixins";
@import "../../styles/Variables";

.container {
  .product_name {
    @include center_element;
    @include product_rating_title;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .product_rating {
    margin-bottom: 1rem;
  }

  .form {
    .title {
      margin-bottom: 1.5rem;
      .title_input {
        width: 100%;
        padding: 0.6rem;
        border-radius: 0.3rem;
        border: none;
      }
    }

    .radio_button_container {
      margin-bottom: 1.5rem;
    }

    .review_title {
      margin-bottom: 1.5rem;
    }

    .review_type {
      margin-bottom: 1.5rem;
    }

    .review {
      margin-bottom: 1rem;

      .review_input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: none;
      }
    }
  }
}
