@import "../../styles/Mixins";

.container {
  .form {
    .title {
      margin-bottom: 1.5rem;
      .title_input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: none;
      }
    }

    .review_type {
      margin-bottom: 1.5rem;
    }

    .review {
      margin-bottom: 1.5rem;

      .review_input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: none;
      }
    }
  }
}
