@import "./Variables";

@mixin flex_CSS_for_rating {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin center_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rating_title {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 500;
  width: 100%;
}

@mixin rating_value {
  font-size: 1.4rem;
  font-weight: 700;
}

@mixin link_style {
  text-decoration: underline;
  cursor: pointer;
}

@mixin product_rating_title {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: azure;
}

@mixin overlay_style {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: $overlay_background_color;
  //z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: $overlay_transition;

  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: $overlay_background_color_active;
  }
}

@mixin signin_container {
  background-color: $fb_background;
  height: 100vh;
  padding: 5rem;
}

@mixin error {
  width: 60%;
  background-color: $danger_red;
  padding: 0.6rem 1.2rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
}

@mixin signin_button_style {
  border: none;
  cursor: pointer;
  @include center_element;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}

@mixin suggest_button_style {
  border: none;
  background-color: rgb(19, 69, 205);
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: rgb(16, 58, 175);
  }

  &:active {
    background-color: rgb(13, 50, 150);
  }
}

@mixin reviews_page_container {
  border-radius: 0.3rem;
  box-shadow: 0.001rem 0.07rem 0.1rem 0.05rem rgb(182, 182, 182);
  padding: 1rem;
  background-color: white;
}
