// Colors

$primary_color: #ffd700;
$secondary_color: #313131;

// Modal
$modal_overlay_color: rgba(0, 0, 0, 0.5);

// Top Loader
$top_loader_height: 3.6px;
$top_loader_color: #0969da;

$navbar_background_color: $primary_color;
$body_background_color: rgb(247, 245, 245);
$footer_background_color: #3b3b3b;
$heading_font_weight: 400;
$header_margin_bottom: 0.625rem;

$product_category_padding: 0px 1.56rem;
$top_section_padding: 0.625rem 0.625rem 0.625rem 0;
$product_info_padding_left: 1.25rem;
$content_min_height: 400px;

//Bucket list button
$bucket_list_button_padding: 0.3rem;
$bucket_list_button: #414141;
$bucket_list_button_hover: #313131;

// Image container
$image_container_margin_left: $product_info_padding_left;
$img_container_box_shadow: 0 0 0 1px rgb(53 72 91 / 7%),
  0 2px 2px rgb(0 0 0 / 1%), 0 4px 4px rgb(0 0 0 / 2%),
  0 10px 8px rgb(0 0 0 / 3%), 0 15px 15px rgb(0 0 0 / 3%),
  0 30px 30px rgb(0 0 0 / 4%), 0 70px 65px rgb(0 0 0 / 5%);

$img_container_box_shadow_hover: 0px 0px 20px 2px #e1e0e0;
$img_container_border: 1px solid rgb(230, 229, 229);
$img_container_border_radius: 10px;
$image_container_width: 90%;
$image_container_position: relative;

$review_header_margin_bottom: 1.25rem;
$product_page_content_margin: 2rem 0px;

// Overlay Styles

$overlay_background_color: rgba(0, 0, 0, 0.07);
$overlay_background_color_active: rgba(0, 0, 0, 0.2);
$overlay_transition: all 0.15s ease;
