// Colors

$primary_color: #ff9500;
$darken_primary_color: #dab40b;
$secondary_color: #414141;

// Submit button
$submit_button_color: #e0be02;
$active_submit_button_color: #c6a904;
$disabled_submit_button_color: #a59338;

// Modal
$modal_overlay_color: rgb(243, 243, 244, 0.8); //rgba(0, 0, 0, 0.5);

// Top Loader
$top_loader_height: 0.27rem;
$top_loader_color: #0969da;

$navbar_background_color: $primary_color;
$body_background_color: rgb(247, 245, 245);
$footer_background_color: #3b3b3b;
$heading_font_weight: 400;
$header_margin_bottom: 0.625rem;

$product_category_padding: 0px 1.56rem;
$top_section_padding: 0.625rem 0.625rem 0.625rem 0;
$product_info_padding_left: 1.25rem;
$content_min_height: 25rem;

//Bucket list button
$bucket_list_button_padding: 0.3rem;
$bucket_list_button: #1A6ED8; //#303030;
$bucket_list_button_hover: #0957b7; //#414141;
$bucket_list_button_active: #076ce8; //#414141;

// Image container
$image_container_margin_left: $product_info_padding_left;
$img_container_box_shadow: 0 0 0 1px rgb(53 72 91 / 7%),
  0 2px 2px rgb(0 0 0 / 1%), 0 4px 4px rgb(0 0 0 / 2%),
  0 10px 8px rgb(0 0 0 / 3%), 0 15px 15px rgb(0 0 0 / 3%),
  0 30px 30px rgb(0 0 0 / 4%), 0 70px 65px rgb(0 0 0 / 5%);

$img_container_box_shadow_hover: 0px 0px 20px 2px #e1e0e0;
$img_container_border: 1px solid rgb(230, 229, 229);
$img_container_border_radius: 0.625rem;
$image_container_width: 90%;
$image_container_position: relative;

$review_header_margin_bottom: 1.25rem;
$product_page_content_margin: 2rem 0px;

// Overlay Styles

$overlay_background_color: rgba(0, 0, 0, 0.07);
$overlay_background_color_active: rgba(0, 0, 0, 0.2);
$overlay_transition: all 0.15s ease;

// Signup/Login page variables

$fb_background: #f0f2f5;
$success_green: #002333;
$success_green_hover: #014666;
$success_green_active: #00314a;
$submit_button_text: #002333;

//errors
$danger_red: #ffc0c7;

// Z Index
$modal_z_index: 100000;
$progress_bar_z_index: 10001;
$navbar_z_index: 10000;

// radio button
$radio_button_color: #079ad9;