$bucket_list_button: #414141;
$bucket_list_button_hover: #313131;
$top_loader_color: #0969da;
$navbar_background_color: #f4c95d;
$body_background_color: rgb(247, 245, 245);
$footer_background_color: #3b3b3b;
$heading_font_weight: 400;
$header_margin_bottom: 10px;
$bucket_list_button_padding: 5px;
$product_category_padding: 0px 25px;
$top_section_padding: 10px 10px 10px 20px;
$product_info_padding_left: 20px;
$image_container_margin_left: $product_info_padding_left;
$content_min_height: 400px;
