@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
//@import url("http://fonts.cdnfonts.com/css/wix-madefor-text");
@import "./Variables";
@import "./Mixins";

html,
body,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // font-family: "Wix Madefor Text", sans-serif;
  // font-family: "Wix Madefor Display", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  font-weight: $heading_font_weight;
}

/* Top progress bar design */
#nprogress .bar {
  height: $top_loader_height;
  background: $top_loader_color;
  z-index: $progress_bar_z_index;
}

.required {
  color: red;
}

.error_message {
  color: red;
  font-size: 0.9rem;
}

.see_all {
  color: rgb(10, 24, 222);
  text-transform: uppercase;
}

.no_data_text {
  font-size: 1.5rem;
}

.nav_buttons {
  cursor: pointer;
  background-color: #414141;
  color: beige;
  padding: 0.5rem 1.3rem;
  border-radius: 0.3rem;
  &:hover {
    background-color: bisque;
    color: #414141;
  }

  &:active {
    background-color: rgb(251, 189, 113);
  }
}

.submit_button {
  background-color: $submit_button_color;
  color: $secondary_color;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  //text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: scale 0.1s ease;

  &:hover {
    background-color: $darken_primary_color;
  }

  &:active {
    background-color: $active_submit_button_color;
    scale: 0.99;
  }

  &:disabled {
    background-color: $disabled_submit_button_color;
    color: rgb(81, 81, 81);
    cursor: not-allowed;
  }
}

.error_class {
  outline: 2px solid red;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
